<{% extends 'base.html' %}

{% block content %}
<h2>Добавить количество шагов</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.date.label }}<br>
        {{ form.date(size=20) }}
    </p>
    <p>
        {{ form.steps.label }}<br>
        {{ form.steps(size=20) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<h2>Все записи</h2>
<ul>
    {% for step in steps %}
    <li>{{ step.date }}: {{ step.steps }} шагов</li>
    {% endfor %}
</ul>
{% endblock %}
